h1 {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(70, 116, 215);
    border-radius: 5px
}

h2 {
    color: rgb(0, 0, 0);
}

p {
    background-color: rgb(171, 164, 188);
    padding: 10px;
    margin: 10px;
}
